<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/stycle.css">
    <title>Enquete</title>
</head>
<body>
    <header>
        <h1>Minor-Web Enquete</h1>
    </header>

    <form>
        <label>
          Voornaam:
          <input type="text" name="voornaam" value="<%= query.voornaam %>">
        </label><br>
        <label>
          Achternaam:
          <input type="text" name="achternaam" value="<%= query.achternaam %>" />
        </label><br>

        <label>
            <input type="radio" name="geslacht" value="man"
            <% if (query.geslacht == "man") { %>
            checked <!-- Als het geslacht 'man' is word deze checkbox aangevinkt -->
            <% } %>
            >
            Man
        </label>
        <label>
            <input type="radio" name="geslacht" value="vrouw"
            <% if (query.geslacht == "vrouw") { %>
            checked <!-- Als het geslacht 'vrouw' is word deze checkbox aangevinkt -->
            <% } %>
            >
            Vrouw
        </label><br>

        <label>
            Wat is je favoriete kleur?
            <input type="color" name="color" value="<%= query.color %>">
        </label><br>

        <input type="submit" value="opslaan" formaction="/">
        <input type="submit" value="versturen" formaction="/overzicht">
    </form>

    <div class="link">
        <% if (query.voornaam) { %>
            <p> Sla deze link op om door te gaan:<br> <%= url %> </p>
        <% } %>
    </div>
    
    </body>
</html>